@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400&family=Oswald:wght@200;300;400;500;600&family=Poppins:wght@100;300;400&display=swap');

/*------------------------------------------RESET--------------------------------------------------------------------*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

* {
    font-family: 'Oswald', sans-serif;
}

h1 {
    color: #0e674d;
    font-size: 30px;
    font-weight: 600;
    background-color: #ecdce9;
    text-align: center;
    text-shadow: white 2px 1px;
    padding: 20px;
}

h2 {
    color: white;
    font-size: 30px;
    font-style: italic;
    text-align: center;
}

h3 {
    font-size: 25px;
    color: #0e674d;
    text-shadow: #c1a7b3 2px 1px;
}

p {
    color: black;
    font-style: normal;
    font-size: 20px;
}

li {
    list-style: none;
}

li a {
    color: white; 
    text-decoration: none;
    font-size: 23px;
    
}
/*--------------------------------------------------HEADER-------------------------------------------------------------*/
header {
    border: none;
    background-color: #c1a7b3;
    padding: 1px;
    position: sticky;
    top: 0%;
    z-index: 10;
}


/*---barra de navegacion-------------menu---------------*/

header nav div li {
    margin: 0px 7px 0px 7px
}
header nav div ul li a:hover {
    color: #0e674d;
}
.navbar-nav {
    align-items: center;
}
.wsp { 
    margin-left: 20px;}

    
/*-------dropdown servicios----------*/
.dropdown-menu {
    background-color: #c1a7b3;
    text-align: center;
}
.dropdown-menu li a {
    font-size: 20px;
}


/*------------------buscador--------------------*/

header nav div form input:hover {
    background-color: #ecdce9;
}
/*---el active no lo toma:----*/
header nav div form input:active {
    border: 2px solid #0e674d;
    border-radius: 5px;}


header nav div form button {
    border: 2px solid black;
    border-radius: 5px;
    padding: 3px 7px 3px 7px;
    font-size: 17px;
    background-color: #ecdce9;

}

header nav div form button:hover {
    background-color: #0e674d;
    color: white;
}

/*----------------------------PRE BOOTSTRAP------------------

header {
    border: none;
    background-color: #c1a7b3;
    padding: 1px;
    position: sticky;
    top: 0%;
    z-index: 10;
}

header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.barra {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
    flex-wrap: wrap;
    }

header nav ul li a {
    margin: 5px 15px 5px 20px;
}

@media screen and (max-width: 865px) {
    header {
        position: static;
    }

    header nav ul {
        padding: 0%;
        margin: 0%;
    }
    .barra {
        flex-direction: column;
        justify-content: center;
    }
    
    
}
---------------------------------*/

/*-------------------------------------------------------MAIN----------------------------------------------------------*/
main {background-color: #ecdce9;}

.titulo {text-align: center;}
.titulo p {margin-bottom: 10px;}

/*--------------------------principal---------------------------*/

.principal__dives {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: 350px;
}

.principal__dives div {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #ecdce9;
}

.principal__dives div img {
    width: 100%;
    height: 100%;
    border: 3px black; border-style: ridge;
}

.principal__dives div h3 {
    position: absolute;
    width: 100%;
    text-align: center;
    margin-top: 0;
}

/*--------------------------potencia-----------------*/
.principal__dives__potencia {
    text-align: center;
    border: 3px black; border-style: ridge;
    background-image: url(../img/budinbanana2.JPG);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    background-position-y: center;
    grid-row: span 2;
    }

.principal__dives__potencia h2 {
    text-shadow: #0e674d 2px 2px;
}
.principal__dives__potencia p {
    margin: 10% 20% 10% 20%;
    font-size: 27px;
    text-align: center;
    color: white;
    text-shadow: black 2px 1px;

}
--*/
/*--------------------------bloglinks-----------------*/
.principal__dives__bloglinks div {
    width: 100%;
    height: 350px;
    position: relative;
}

.principal__dives__bloglinks div img {
    width: 100%;
    height: 100%;
    border: 3px black; border-style: ridge;
}

.principal__dives__bloglinks div h3 {
    position: absolute;
    width: 100%;
    text-align: center;
    margin-top: 0;
}

/*-------------------------------------ACERCA DE----------------------------------------------------------------------*/
.acercade {
    display: flex;}

.acercade p {
    margin: 10px 45px 10px 60px;}

.acercade div img {
    height: 300px;
    width: 300px;
    margin-right: 45px;}


/*------------------------------------MIS TRABAJOS--------------------------------------------------------------------*/

.mistrabajos__dives {display: grid;
    grid-auto-rows: 300px;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;

}

.mistrabajos__dives div {
    position: relative;
    border: black 2px;
    border-style: ridge;
}
.mistrabajos__dives div h3 {
    position: absolute;
    top: 0;
    text-align: center;
    background-color: rgba(255, 228, 196, 0.322);
    width: 100%;
}

.mistrabajos__dives div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 1px 5px 5px 4px rgba(0,0,0,0.75);
-webkit-box-shadow: 1px 5px 5px 4px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 5px 5px 4px rgba(0,0,0,0.75);
}

.mistrabajos__dives__c3 {
    grid-row: span 2;
    
} 
.mistrabajos__dives__c6 {
    grid-column: span 2;
}


    
/*---------------------------------COMANDOS DESCARTADOS DESPUES DE AGREGAR GRIDS---------------------------------*/
/* 
.mistrabajos__dives img {
    width: 430px;
    height: 350px;
}
.mistrabajos__dives {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;}

    
.mistrabajos__dives div{    
    width: 430px;
    height: 350px;
    margin: 10px 0px 10px 0px;
    position: relative;}

.mistrabajos__dives div img {    
    width: 430px;
    height: 350px;
}
.mistrabajos__dives div h3 {
    position: absolute;
    width: 100%; 
    bottom: 0;
    text-align: right;
} 

*/



/*----------------------------------BLOG DE RECETAS-------------------------------------------------------------------*/

.blog .blog__recetas {
    display: flex;
    flex-wrap: wrap;}
    
.blog P {margin-bottom: 10px;}

.blog .blog__recetas div {
    width: 447px; height: 1000px;
    border: black 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.blog .blog__recetas div h4 {
    font-size: 20px;}

.blog .blog__recetas div img {
    width: 350px; height: 300px;    
}

.blog .blog__recetas iframe {
    width: 350px;
    height: 300px;
    text-align: end;}

/*---------------------------------------SERVICIOS---------------------------------------------------------------------*/

.servicios {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;}
    
.servicios div {margin-top: 15px;}



/*---------------------------------------CONTACTO----------------------------------------------------------------------*/
.contacto {
    background-image: url(../img/minibrownies\ pastel.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
.contacto label {color: white;
    text-shadow: #0e674d 1px 1px;}
.contacto div h3 {
    text-align: start; margin: 10px 0px 15px 0px;
    color: #108562;
    text-shadow:black 1px 1px;}

.contacto__formulario {
    display: flex;
    justify-content: center;}

.contacto__formulario form {
    display: flex;
    flex-direction: column;
    width: 50%;}


.contacto__formulario form div {
    display: flex;  
    flex-direction: column;
    }
.contacto__formulario__enviar div input {font-size: 20px; padding: 5px;}   


/*--------------------------------------------------------FOOTER---------------------------------------------------*/

.footer {
    background-color: #c1a7b3;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    }


.footer__redes__iconos {padding: 5px;
}
.footer__redes__iconos img {margin: 0px 10px 0px 10px;}

.footer__dda {display: flex;
    }

.footer .footer__dda p {    
    color: black;
    font-size: 15px;}


/*!!! ----------------------------- mediaqueris ---------------------------------!!!*/
@media screen and (max-width: 955px) {

    .principal__dives {
        grid-template-columns: repeat(2,1fr);
    }


    .mistrabajos__dives {
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 250px;

    }
    .mistrabajos__dives__c6 {
        grid-column: span 1;
    }
}

@media screen and (max-width: 1067px){
    .blog .blog__recetas {justify-content: space-around;}
    
}






@media screen and (max-width: 450px) {
    p {font-size: 15px;}
    h1 {font-size: 20px;} 
    h2 {font-size: 20px;}


    .principal__dives {
        grid-template-columns: 1fr;
    }
    .principal__dives__potencia {
        grid-row: 1;
    }
    .principal__dives__potencia p {
        font-size: 20px;
    }

    .mistrabajos__dives {
        grid-template-columns: 1fr;
        grid-template-rows: 250px;

    }
    .mistrabajos__dives__c6 {
        grid-column: span 1;
    }
}

