header {
    border: none;
    background-color: $color-principal;
    padding: 1px;
    position: sticky;
    top: 0%;
    z-index: 10;
    nav {
        div {
            div {
                .navbar-nav {
                    align-items: center;
                    li {
                        margin: 0px 7px 0px 7px;
                    
                        a {
                            &:hover {color: $color-tres;
                            }
        
                        }
                        .dropdown-menu {
                            background-color: $color-principal;
                            text-align: center;
                            li {
                                a {
                                    font-size: 20px;
                                }
                            }
                        }
                    }

                }


            }
            form {
                input {
                    &:hover {
                        background-color: $color-secundario;}
                }
                button {
                    border: 2px solid black;
                    border-radius: 5px;
                    padding: 3px 7px 3px 7px;
                    font-size: 17px;
                    background-color: $color-secundario;
                    &:hover {
                        background-color: $color-tres;

                        color: white;
                    }
                }
            }
        }
        .wsp {
            margin-left: 20px;
            i {
                font-size: 35px;
                color: $color-tres;

            }

        }
    }
}