main {
    .hero {
        background-image: url(../img/minibrownies2.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-position-y: center;
        height: 400px;
        width: 100%;
        h1 {
            color: white;
            text-shadow: $color-tres 1px 2px;
            background-color: $color-cuatro;
        }
        p {
            padding: 45px;
            color: white;
            font-size: nth($font-size, 4);
            text-align: center;
        }

    }
    .principal {
        margin-top: 10px; 
        padding-bottom: 10px;
        .principal__dives {
            display: grid;
            grid-template-columns: repeat(3,1fr);
            grid-auto-rows: 350px;
            gap: 25px;
            .principal__dives__potencia {
                text-align: center;
                background-image: url(../img/budinbanana2.JPG);
                background-size:cover;
                background-position: center;
                background-repeat: no-repeat;
                background-position-y: center;
                grid-row: span 2;
                box-shadow: 2px 5px 5px 4px rgba(0,0,0,0.75);
                -webkit-box-shadow: 2px 5px 5px 4px rgba(0,0,0,0.75);
                -moz-box-shadow: 2px 5px 5px 4px rgba(0,0,0,0.75);
                h2 {
                    color: $color-tres;
                    text-shadow: black 1px 1px;
                }
                p {
                    margin: 15% 20% 10% 20%;
                    font-size: nth($font-size, 6);
                    text-align: center;
                    color: white; 
                    text-shadow: black 2px 1px;
                }
            }
        }
            div {
                width: 100%;
                height: 100%;
                position: relative;
                h3 {
                    position: absolute;
                    width: 100%;
                    text-align: center;
                    margin-top: 0;
                }
                }
                a {
                    img {
                        width: 100%;
                        height: 100%;
                        box-shadow: 2px 5px 5px 4px rgba(0,0,0,0.75);
                        -webkit-box-shadow: 2px 5px 5px 4px rgba(0,0,0,0.75);
                        -moz-box-shadow: 2px 5px 5px 4px rgba(0,0,0,0.75);
                    }
                }

            }
            .principal__dives__bloglink {
                div {
                    width: 100%;
                    height: 350px;
                    position: relative;
                    h3 {
                        position: absolute;
                        width: 100%;
                        text-align: center;
                        margin-top: 0;
                    }
                    a { 
                        img {
                            width: 100%;
                            height: 100%;
                        }
                    } 

                }

            }
    .titulo {
        text-align: center;
        h1 {background-color: $color-secundario}; 
        .titulo__sub {  
            font-size: nth($font-size, 5 );
            margin-bottom: 10px;
            font-style: italic;
            a {
                list-style: none;
                text-decoration: none;
                color: white;
                transition: 1s;
                &:hover {
                    color: $color-tres;
                    font-size: nth($font-size, 6)
                }
            }
        }   
    }


    .mistrabajos {
        margin-bottom: 10px;
        .mistrabajos__dives {
            display: grid;
            grid-auto-rows: 300px;
            grid-template-columns: repeat(3,1fr);
            gap: 10px;
            div {
                position: relative;
                border: black 3px;
                border-style: ridge;
                margin-bottom: 5px;
                h3 {
                    position: absolute;
                    top: 0;
                    text-align: center;
                    background-color: $color-cuatro;
                    width: 100%;
                }
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: 1s;
                    &:hover {
                        box-shadow: 2px 5px 5px 4px rgba(0,0,0,0.75);
                        -webkit-box-shadow: 2px 5px 5px 4px rgba(0,0,0,0.75);
                        -moz-box-shadow: 2px 5px 5px 4px rgba(0,0,0,0.75);
                        transform: scale(1.05, 1.05);
                    }

                }
            }
            .mistrabajos__dives__c3 {
                grid-row: span 2;

            }
            .mistrabajos__dives__c6 {
                grid-column: span 2;
            }    
        }

    }
    .flyers {
        .flyers__sub {  
            color: $color-tres;
            font-size: 38px;
            font-weight: 600;
            text-align: center;
            text-shadow: black 1px 1px;
            padding: 10px;
            background-color: $color-secundario;
        }   
        div {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            padding-bottom: 10px;
            img {
                width: 400px;
                height: 450px;
                border: black 4px solid;
                transition: 1s;
                &:hover {
                    box-shadow: 2px 5px 5px 4px rgba(0,0,0,0.75);
                    -webkit-box-shadow: 2px 5px 5px 4px rgba(0,0,0,0.75);
                    -moz-box-shadow: 2px 5px 5px 4px rgba(0,0,0,0.75);
                    transform: scale(1.3,1.3);
                }
                
            }
        }
    }
}

    
    .servicios {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 15px;
        background-image: url(../img/red.jpg);
        background-size:cover;
        background-position: center;
        div {
            display: flex;
            flex-direction: column;
            margin-top: 15px;
            border: 3px solid black;
            width: 280px;
            height: 235px;
            margin: 30px;
            background-color: rgba(255, 244, 244, 0.274);
            transition: 1s;
            &:hover {
                transform: scale(1.5, 1.5);
            }
            h3 {
                padding-top: 0;
                align-self: center;
                background-color: $color-cuatro;
                width: 100%;
                display: flex;
                justify-content: center;
            }
            ul {
                li {
                    list-style: circle;  
                    p {
                        font-size: nth($font-size, 4);
                        margin: 5px;
                    }
                }
            }  
        }
    }
    .acercade {
        display: flex;
        align-items: center;
        padding-bottom: 25px;
        background: rgb(193,167,179);
        background: linear-gradient(90deg, rgba(193,167,179,1) 13%, rgba(246,195,221,1) 100%);
        .acercade__divi
        {
            img {
                height: 350px;
                width: 300px;
                padding: 5px;
                margin-right: 25px;
                box-shadow: 2px 5px 5px 0px rgba(0,0,0,0.75);
                -webkit-box-shadow: 2px 5px 5px 10px rgba(0,0,0,0.75);
                -moz-box-shadow: 2px 5px 5px 0px rgba(0, 0, 0, 0);

            }
        }
        .acercade__divp
        p {
            font-size: nth($font-size, 3);
            color:black;
            margin: 35px;
            a {
                list-style: none;
                text-decoration: none;
                transition: 1s;
                color: black;
                &:hover {
                    color: $color-tres;
                }
            }
            
        }
    }

    .blog {
        padding-bottom: 10px;
        background: rgb(193,167,179);
        background: linear-gradient(90deg, rgba(193,167,179,1) 13%, rgba(246,195,221,1) 100%);
        .blog__recetas {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            margin: 5px;
            border: 3px solid $color-secundario;
            .blog__recetas__foto {
                display: flex;
                position: relative;
                width: 30%;
                h3 {
                    position: absolute;
                    font-size: nth($font-size, 8);
                    text-align: center;
                    width: 100%;
                    margin-top: 0;
                    padding-top: 0%;
                    text-shadow: $color-secundario 1px 1px;

                }
                img {
                    height: 460px;
                    width: 100%;
                    margin: 5px;
                    box-shadow: 1px 2px 3px black;
                }
            }
            .blog__recetas__ingredientes {
                display: flex;
                flex-direction: column;
                width: 25%;
                h4 {
                    text-decoration: underline;
                    display: flex;
                    justify-content: center;
                    font-size: nth($font-size, 6);
                    color: $color-tres;
                }
                h5 {
                    text-decoration: none;
                    display: flex;
                    justify-content: left;
                    font-size: nth($font-size, 5);
                    color: $color-tres;
                    padding: 15px;
                    font-style: oblique;
                }
                ul {
                    li {
                        list-style: circle;
                        font-size: nth($font-size, 3);
                        a {
                            color: white;
                            transition: 1s;
                            &:hover {
                                color: $color-tres;
                                font-size: nth($font-size, 5);
                            }
                        }
                    }
                }
                .blog__recetas__ingredientes__destacados {
                    margin-top: 18px;
                    h4 {
                        text-decoration: none;
                        text-shadow: $color-secundario 1px 2px;
                    }
                    .blog__recetas__ingredientes__destacados__img {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-around;
                        a {
                            img {
                                width: 156px;
                                height: 172px;
                                border: $color-secundario solid 2px;
                                &:hover {
                                    border: $color-tres solid 2px;
                                }
                            }
                        }
                    }
                    
                }

            }
            .blog__recetas__preparacion {
                width: 45%;
                display: flex;
                flex-direction: column;
                h4 {
                    text-decoration: underline;
                    display: flex;
                    justify-content: center;
                    font-size: nth($font-size, 6);
                    color: $color-tres;
                    
                }
                ul {
                    li {
                        list-style: circle;
                        font-size: nth($font-size, 3);
                        padding: 5px;
                        span { color: $color-tres;}
                        a {
                            color: white;
                            transition: 1s;
                            &:hover {
                                color: $color-tres;
                                font-size: nth($font-size, 5);
                            }
                        }
                    }
                }
            }
        }
    }

    .contacto {
        background-image: url(../img/minibrownies2.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-position-y: center;
        height: 500px;
        display: flex;
        justify-content: center;
        .contacto__form {
            display: flex;
            flex-direction: column;
            width: 600px;
            input {
                background-color: rgba(255, 255, 255, 0.63);
                margin: 1px;
                border: 1px solid $color-secundario;
                height: 8%;
                &:hover {
                    background-color: white;
                }
                &:active {
                    border-color: $color-tres !important;
                }
            }
            textarea {
                margin: 2px 0px 2px 0px;
                height: 32%;
                background-color: rgba(255, 255, 255, 0.63);
                &:hover {
                    background-color: white;
                }
            }
            .contacto__form__botones {
                display: flex;
                justify-content: space-around;
                .btn {
                    background-color: rgba(255, 255, 255, 0.63);
                    border: 2px solid black;
                    border-radius: 5px;
                    font-size: nth($font-size, 3);
                    &:hover {
                        background-color: $color-tres;
                    }
                }  
            }
        }
    }

