
@media screen and (max-width: 955px) {
    main {
        .titulo {
            h1 {
                font-size: nth($font-size, 7);
            }
            .titulo__sub {
                font-size: nth($font-size, 3)
            }
        }
        .hero {
            h1 {
                font-size: nth($font-size, 7);
            }
            p {
                font-size: nth($font-size, 3)

            }
        }
        .blog {
            .blog__recetas {
                flex-direction: column;
                align-items: center;
                justify-content: center;
                .blog__recetas__foto {
                    width: 440px;


                }
                .blog__recetas__preparacion{
                    width: 85%;
                }
                .blog__recetas__ingredientes {
                    width: 85%;
                }
            }
        }
        .principal {
            .principal__dives {
                grid-template-columns: repeat(2,1fr);
            }
        }
        .mistrabajos {
            .mistrabajos__dives {
                grid-template-columns: repeat(2,1fr);
                grid-template-rows: 250px;
                .mistrabajos__dives__c6 {
                    grid-column: span 1;
                    }
            }

        }
        .flyers {
            div {
                img {
                    width: 300px;
                    height: 375px;
                    border: black 3px solid;
                    margin: 10px;
                }
            }
        }


        .acercade {
            flex-wrap: wrap;
            justify-content: center;
        }

        .servicios {
            padding: 10px;
        }
    }
}


@media screen and (max-width: 670px) {
    .footer {
        .footer__logo {
            a {
                img {
                    margin-left: 15px;
                    height: 60px;
                    width: 65px;
                }
            }

        }
        .footer__redes {
            h2 {
                font-size: nth($font-size, 4);
                margin-right: 5px;
            }
            .footer__redes__iconos {
                a { 
                    i {
                        font-size: nth($font-size, 5);
                    }
                }

            }
        }

        .footer__dda {
            margin-left: 20px;
            margin-top: 5px;
            img {
                height: 10px;
                width: 10px;
                margin-right: 2px;
            }
            p {font-size: nth($font-size, 1);
            }
        }
    }
    .servicios {
        justify-content: center;
        div {
            height: 100%;
        }
    }

}

@media screen and (max-width: 450px) {
    main {
        .titulo{
            h1 {
                font-size: nth($font-size, 6);
            }
            .titulo__sub {
                font-size: nth($font-size, 2);
            }
        .hero {
            padding: 5px;
            h1 {
                font-size: nth($font-size, 5);
            }
            p { 
                justify-content: center;
                font-size: nth($font-size, 2);
            }
        }

        }
        .acercade{
            .acercade__divp{
                p {
                    font-size: nth($font-size, 2);
                    margin: 25px;
                }
            }
            .acercade__divi
            {
                img {
                    height: 300px;
                    width: 250px;
                }
            }
        }
            
        .blog {
            .blog__recetas{
                .blog__recetas__foto {
                    width: 200px;
                    height: 250px;
                    margin-bottom: 10px;
                    img {
                        width: 200px;
                        height: 250px;
                    }

                }
                .blog__recetas__ingredientes{
                    h4 {font-size: nth($font-size,3)

                    }
                    ul{
                        li {
                            font-size: nth($font-size,2);
                        }
                    }
                }
                .blog__recetas__preparacion {
                    h4 {font-size: nth($font-size,3)

                    }
                    ul{
                        li {
                            font-size: nth($font-size,2);
                        }
                    }
                }
                
            }
        }
        .principal {
            .principal__dives {
                grid-template-columns: 1fr;
                padding: 15px;

                .principal__dives__potencia {
                    grid-row: 1;
                    p {
                        margin: 10% 15% 5% 15%;
                        font-size: nth($font-size, 3);
                    }
                    h2 {
                        font-size: nth($font-size, 7);
                    }
                }
            }
        }



        .servicios {
            padding: 6px;
        }


        .mistrabajos {
            .mistrabajos__dives {
                grid-template-columns: 1fr;
                grid-template-rows: 250px;
                .mistrabajos__dives__c6 {
                    grid-column: span 1;
                }
            }
        }
        .flyers {
            div {
                img {
                    width: 80%;
                    height: 320px;
                    border: black 2px solid;
                    margin: 3px;
                }
            }
        }
    }

    .contacto {
        .contacto__form {
            width: 400px;
            input {
                height: 6%;
            }
            h2 {
                font-size: nth($font-size, 5);

            }
        }
    }

    .footer {
        .footer__logo {
            a {
                img {
                    margin-left: 15px;
                    height: 60px;
                    width: 65px;
                }
            }

        }
        .footer__redes {
            h2 {
                font-size: nth($font-size, 4);
                margin-right: 5px;
            }
            .footer__redes__iconos {
                a { 
                    i {
                        font-size: nth($font-size, 5);}
                }

            }
        }

        .footer__dda {
            margin-left: 10px;
            margin-top: 0;
            img {
                height: 10px;
                width: 10px;
                margin-right: 2px;
            }
            p {font-size: nth($font-size, 1);
            }
        }
    }
    .servicios {
        div {
            width: 250px;
            height: 100%;

        }
        h3 {font-size: nth($font-size,4);
        padding: 0;
        margin: 0;}
        ul {
            li {
                list-style: circle;  
                p {
                    font-size: nth($font-size, 3);
                    margin: 5px;
                }
            }
        }  
    }
}




@media screen and (max-width: 300px){
    .flyers {
        div {
            img {
                width: 220px;
                height: 270px;
                border: black 1px solid;
                margin: 1px;
            }
        }
    }
}

