@media screen and (max-width: 1067px){
    main {
        .blog {
            .blog__recetas {
                justify-content: space-around;}
        }
    }
}

@media screen and (max-width: 955px) {
    main {
        .principal {
            .principal__dives {
                grid-template-columns: repeat(2,1fr);
            }
        }
        .mistrabajos {
            .mistrabajos__dives {
                grid-template-columns: repeat(2,1fr);
                grid-template-rows: 250px;
                .mistrabajos__dives__c6 {
                    grid-column: span 1;
                    }
            }

        }
        .flyers {
            div {
                img {
                    width: 300px;
                    height: 375px;
                    border: black 3px solid;
                    margin: 10px;
                }
            }
        }


        .acercade {
            flex-wrap: wrap;
            justify-content: center;
        }

        .servicios {
            padding: 10px;
        }
    }
}


@media screen and (max-width: 670px) {
    .footer {
        .footer__logo {
            a {
                img {
                    margin-left: 15px;
                    height: 60px;
                    width: 65px;
                }
            }

        }
        .footer__redes {
            h2 {
                font-size: nth($font-size, 4);
                margin-right: 5px;
            }
            .footer__redes__iconos {
                a { 
                    i {
                        font-size: nth($font-size, 5);
                    }
                }

            }
        }

        .footer__dda {
            margin-left: 20px;
            margin-top: 5px;
            img {
                height: 10px;
                width: 10px;
                margin-right: 2px;
            }
            p {font-size: nth($font-size, 1);
            }
        }
    }
    .servicios {
        justify-content: center;
        div {
            height: 100%;
        }
    }

}

@media screen and (max-width: 450px) {
    main {
        .principal {
            .principal__dives {
                grid-template-columns: 1fr;
                .principal__dives__potencia {
                    grid-row: 1;
                    p {
                        margin: 10% 15% 5% 15%;
                        font-size: nth($font-size, 3);
                    }
                    h2 {
                        font-size: nth($font-size, 7);
                    }
                }
            }
        }
        .hero {
            h1 {
                font-size: nth($font-size, 5);
            }
            p { 
                justify-content: center;
                font-size: nth($font-size, 3);
            }
        }


        .servicios {
            padding: 6px;
        }


        .mistrabajos {
            .mistrabajos__dives {
                grid-template-columns: 1fr;
                grid-template-rows: 250px;
                .mistrabajos__dives__c6 {
                    grid-column: span 1;
                }
            }
        }
        .flyers {
            div {
                img {
                    width: 80%;
                    height: 320px;
                    border: black 2px solid;
                    margin: 3px;
                }
            }
        }
    }

    .footer {
        .footer__logo {
            a {
                img {
                    margin-left: 15px;
                    height: 60px;
                    width: 65px;
                }
            }

        }
        .footer__redes {
            h2 {
                font-size: nth($font-size, 4);
                margin-right: 5px;
            }
            .footer__redes__iconos {
                a { 
                    i {
                        font-size: nth($font-size, 5);}
                }

            }
        }

        .footer__dda {
            margin-left: 10px;
            margin-top: 0;
            img {
                height: 10px;
                width: 10px;
                margin-right: 2px;
            }
            p {font-size: nth($font-size, 1);
            }
        }
    }
    .servicios {
        div {
            width: 250px;
            height: 100%;

        }
        h3 {font-size: nth($font-size,4);
        padding: 0;
        margin: 0;}
        ul {
            li {
                list-style: circle;  
                p {
                    font-size: nth($font-size, 3);
                    margin: 5px;
                }
            }
        }  
    }
}




@media screen and (max-width: 300px){
    .flyers {
        div {
            img {
                width: 220px;
                height: 270px;
                border: black 1px solid;
                margin: 1px;
            }
        }
    }
}

