//*VARIABLES------//

$color-principal: #c1a7b3;
$color-secundario:  #ecdce9;
$color-tres: #0e674d;
$color-cuatro: rgba(255, 228, 196, 0.322);

//*LISTAS-----//

$font-size: 
10px,
15px,
20px,
23px,
25px,
27px,
30px,
38px,
45px;
